
.header{

    
    
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    overflow: hidden;
    
}

.header > * {

    margin-inline: 7vw;
}
.header-title {

   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 125%;
    color: #FFFFFF;
    margin-top: 3.625rem;
    max-width: 15ch;
    
}

.header-text {

   
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 200%;
/* or 32px */


color: #FFFFFF;
margin-top: 1rem;

}

.header-btn {

width: 10rem;
height: 3rem;
border:none;

background: var(--button-color);
border-radius: 2rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
/* identical to box height */

display: flex;
justify-content: center;
align-items: center;
gap:.5rem;

color: #FFFFFF;
margin-top: 2.125rem;
}

.student-content{

    
    min-width: calc(100% - 6vw);
    justify-content: space-between;
    margin-top: 1.2rem;
    
}

.header-btn img { width: 16px; height:16px}

.header-student-image {

    display: block;
    transform: translateX(33%);
    width:73.913vw;
   
}

.header-student-image img{

   width:100%
}


.student-content{

    display: flex;
    
}

.students-enrols{

    align-self: center;
}

.header-student-enrol,
.header-student-rating
{

background: #FFFFFF;
border-radius: 24px;

}

.header-student-enrol-numbers,
.header-student-rating-start
{

    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 125%;
/* identical to box height, or 38px */


color: #023047;


}

.header-student-enrol{


width: 182px;
height:75px;
/*transform: translate(50px);*/

}

.header-student-rating{

width: 160px;
height:75px;
/*transform: translate(100px);*/

}

.header-student-enrol-expression,
.header-student-rating-overall {

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 125%;
/* identical to box height, or 18px */


color: #023047;



}

.student-content{

    position:relative;
    
}

.header-student-enrol{
  
    border:none;
   
}

.header-student-rating{
  border:none;
 
  
}

.header-student-enrols-container{

    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 24px;
    width:250px;
    width: 192px;
    height: 84px;
    margin-bottom:48px;

    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 10;
}

.header-student-rating-container {

width: 172px;
height: 80px;
background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
border-radius: 24px;

position: absolute;
top:63%;
left:0%;
z-index: 10;

}


@media screen and (min-width: 768px) {

    .header-structure{

       margin-inline: 11.71vw;
      
    }
    .header-student-image{

        max-width: 446px;
        transform: translateX(24%);
        
    }

.header-title{

    margin-top: 155px;
    font-size: 50px;
}

.header-text{

    max-width: 77ch;
}

.header-student-enrol-numbers{

    font-size: 36px;
}

.header-student-enrol-expression{

    font-size: 1rem
}

.header-student-rating-start{

    font-size: 36px;
}

.header-student-rating-overall{

    font-size: 1rem
}

    
}


/*  */

@media screen and (min-width: 1367px) {

    .header-structure{

       
        display: flex;
        margin-inline:7vw
    }

    .header-structure > * {

        flex-basis: 50%;
    }

    .header-title{

        margin-top: 118px;
       
    }

    .header-text{

        max-width: 52ch;
    }

    .header-student-image{

        max-width: 446px;
        transform: translateX(17%);
    }


    .header-btn img {width :1.125rem }
    .header-btn div {

        font-size: 1.125rem ;
    }
    .header-btn{
         padding: 1rem 2rem;
         width:12rem
         }
    .header-student-enrols-container{

        width:213px;
        height:97px;
        
    }

    .header-student-enrol{

        width:206px;
        height:90px
    }

    .header-student-rating-container{
        width: 188px;
        height: 98px;
        left:-4%

    }

    .header-student-rating{

        width: 183px;
        height: 90px;
    }

   .student-content{

       min-width: auto;
       
   }
    

    

}
