

.testemonials{

    margin: 6.25rem 0 6.25rem 0;
    margin-inline: 7vw;
}
.testimonials-title{


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 120%;
    color: #023047; 
    margin-bottom: 0.75rem;
   


}

.testimonials-structure{

    width:100%;
    position: relative;
   
    padding-top:2rem;
  
    
}



.testimonials-text{

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 200%;
/* or 32px */


color: #023047;
margin-bottom:2.5rem ;
}

.jane-testimonials{

   
    background: #FFFFFF;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-bottom: 2.25rem;

}

.jane-testimonials-info{

   display: flex;
   justify-content: space-between;

}

.jane-testimonials-context{

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1.125rem;
line-height: 150%;
color: #FFFFFF;
background: #6F7DFB;
border-radius: 1.5rem;
padding: 1.5rem 2rem;


}

.jane-testimonials-info-name_job {

  margin-left: 2rem;

}

.jane-testimonials-info-name{

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1.125rem;
line-height: 120%;
/* identical to box height, or 22px */


color: #023047;
margin-top: 1.5rem;
margin-bottom: .5rem;

}

.jane-testimonials-info-job {

    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 120%;
/* identical to box height, or 17px */


color: #023047;

}

.jane-testimonials-info-image{

    transform: translate(-2rem,-20%);
}
/* rhis section is designed for jacob*/


.jacob-testimonials{

background: #FFFFFF;
box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
border-radius: 1.5rem;
margin-bottom:2.875rem
}

.jacob-testimonials-context{

    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1.125rem;
line-height: 150%;
color: #FFFFFF;

padding: 1.5rem 2rem;
background: #DA722C;
border-radius: 24px;
}
.jacob-testimonials-info{

    display: flex;
    justify-content: space-between;
}


.jacob-testimonials-info-name{

    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1.125rem;
line-height: 120%;
color: #023047;
margin-top: 1.5rem;
margin-bottom: .5rem;
}

.jacob-testimonials-info-job{

    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 120%;
/* identical to box height, or 17px */


color: #023047;
}

.jacob-testimonials-info-image{

    transform: translate(-2rem,-20%);
}

.jacob-testimonials-info-name_job{

    
}

.testemonial-bar {

position:absolute;
width: 28px;
height: 100%;
left: 0;
top: 0;

background: #023047;
border-radius: 24px;
z-index:-1;
margin-left:12vw
}

.testemonial-learn-more{

    display: block;
    padding: 0.75rem 2rem;
    background: #DA722C;
    border-radius: 24px;
    border:none;

    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
/* identical to box height */


color: #ffffff;
margin-inline-start: auto;

}