
*,*::before,*::after{

    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {

    --button-color: #DA722C;
    --footer-background: #070917;
    --blue-testemonial-bar: #6F7DFB;
    --orange-testemonial-bar: #DA722C;
    ---bar-courses:#023047;

    --Raleway : font-family: 'Raleway', sans-serif;
    --Poppins : font-family: 'Poppins', sans-serif;
    
}

body {
  
    width:100%;
    background-color: #6F7DFB;
    border: 2px solid red
    

}
