
.course{

   
    padding-inline: 7vw;
    
    background: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 3.75rem;
    
}

.course-title_time{

    padding-top:1.875rem;
    padding-bottom:1.875rem;
}

.course-title{

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1.5rem;
line-height: 150%;
/* or 36px */


color: #023047;
max-width: 15ch;
}

.course-time{

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 1rem;
line-height: 150%;
/* identical to box height, or 24px */
color: #023047;

}

.course-hours{
    display: flex;
    align-items: center;
}

.course-time-icon{ margin-right:5px}

.course-title_time{

display: flex;
justify-content: space-between;
}

.course-image{

filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
border-radius: 24px;
transform: translateY(-4px);

}

.course-image img {

padding: 0px;
margin:0;
display:block;
}

.course-time-icon{

    width:1rem;
    height:1rem;
   
}

.course-time-icon img { 
    width : 100%; }

.course-bar{

width:100%;
height: 8px;

background: #023047;
border-radius: 24px;
}

