
.footer{

    background-color: black;
    color:white;
   text-align: center;

   font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #FFFFFF;
padding: 3.75rem 0 4.375rem 0
}

.footer > *:hover{ cursor: pointer; scale: 1.02;}

.quick-links,.Course,.contact-us{

    color: #DA722C;
    margin-bottom: .9rem;
}


.contact,.privacy,.terms,
.login,.download,.all-courses,
.contact-email,
.icon,.footer-about{

    margin-bottom: .563rem
}

.terms{

    margin-bottom: 2.25rem;
}


.all-courses{

    margin-bottom: 2.25rem;
}

.email-input-button{

    display: grid;
    max-width: 350px;
    min-width:300px;
    padding-top:10px;
    padding-inline: 5px;
    margin:0 auto;
    
}


.email-input{


padding-left:1.8rem;
padding-top:4px;
padding-bottom: 4px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 200%;

color: #000000;
background: #FFFFFF;
border-radius: 8px;

}

.email-input:focus{

    outline: none;
}



.subcribe-button{

   /*margin-inline: 8.75rem;*/
   
   font-family: 'Poppins';  
   background: #023047;
   border-radius: 8px;
   font-weight: 400;
   font-size: 1rem;
   line-height: 200%;
   color: #FFFFFF;
   margin-top:.8rem;
   margin-bottom:2.5rem ;
   border:none;

   max-width:135px;
   justify-self: center;
   width:135px;
   
  

}

.copyRight{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: .875rem;
line-height: 200%;
/* identical to box height, or 28px */

text-align: center;

color: #FFFFFF;
}

@media screen and (min-width:728px) {
    
    .footer{ padding-inline:7vw}

    .footer-content{

        display: flex;
        column-gap:132px;
        flex-wrap: wrap;

    }

    .quicklinks-container{

        text-align: start;
    }
    .Course-container {
     
        text-align: start;
       
    }

    .contact-us-container {

        text-align: start;
        
        
        
    }

    .email-input-button{
        display: flex; 
        min-width: none;
        max-width: none;
        width:521px;
        max-height: 40px;
        background-color: white;
        padding:0;
        padding-right:6px;
        border-radius: 8px;
        margin-bottom: 29px;
        }

    .email-input{

        flex: 1;
        border: none;
    }
    .subcribe-button{
        margin:0; 
        max-height: 30px;
        align-self: center;
    }
    
.quicklinks-container *:not(:first-child),
.Course-container *:not(:first-child),
.contact-us-container *:not(:first-child)
{
          margin-left: 20px;
    }




}
   
   
        
    

