
.services {

    padding-block: 60px;
    padding-inline:7vw;
    color: #023047;
    max-width: 1024px;
    margin-inline: auto;
    
}

.services h2, .services h3{

    font-family: var(--title-font);
    margin-block: 20px;
     
}

.services h2{

    margin-bottom: 50px;
    font-size: 48px;
    text-align: center;
}

.services p{

    font-family: var(--text-font);
}

.services img{

    width:100%;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);

}

@media screen and (min-width:768px) {

    .sercive1-group{ display: grid;  grid-template-columns: 1fr 1fr; align-items: center; column-gap:30px}
    .sercive2-group{ display: grid; grid-template-columns: 1fr 1fr;align-items: center; column-gap:30px}
    .sercive3-group{ display: grid; grid-template-columns: 1fr 1fr;align-items: center; column-gap:30px}
    .sercive4-group{ display: grid; grid-template-columns: 1fr 1fr;align-items: center; column-gap:30px}
    .sercive5-group{ display: grid; grid-template-columns: 1fr 1fr;align-items: center; column-gap:30px}
    .sercive6-group{ display: grid; grid-template-columns: 1fr 1fr;align-items: center; column-gap:30px}
    
    .services img{ margin:0 }

 
    .services p{

       line-height: 180%;
    }

    .services h3{

        font-size: 24px;
    }

   
}

@media screen and (min-width:1024px) {

    .services h2{
     
        margin-bottom:50px

    }

   

    .services h3{

        font-size: 32px;
        margin-block:50px
    }
    
    .services p{

        line-height: 200%;
        font-size: 20px;
     }

}

