
.cta{

    

    
}

.cta-title{

    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */

text-align: center;

color: #023047;
margin-top: 6.25rem;
margin-bottom:0.625rem

}

.cta-text{

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* or 32px */

text-align: center;

color: #023047;
margin-bottom: 1.063rem;
}

.cta-appstore{
   margin-bottom: 1.625rem
}

.cta-googleplay {

margin-bottom: 6.25rem;
}


.cta-appstore,.cta-googleplay{ 

    display:flex;
   padding: 0.75rem 1.938rem;
    background-color: black;
    align-items: center;
    
    gap:0.9rem;
    max-width: 310px;
    max-height: 100px;

}

.cta-appstore-text, .cta-googleplay-text{

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 200%;


color: #FFFFFF;


}

.cta-appstore img,
.cta-googleplay img{

    max-height: 60px;
}

.cta-bars {
    
    width:fit-content;
    margin-inline:auto;
    
}

@media screen and (min-width:768px) {
    
    .cta-title{

        font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 120%;
/* identical to box height, or 72px */

text-align: center;

color: #023047;

    }

    
    

    .cta-bars > *{

        margin:0
        
        

    }

    .cta-bars{

        display: flex;
        margin-bottom: 6.25rem;
        gap:86px
    }
}

@media screen and (min-width:1024px){

    .cta-bars{

        gap:30px
    }
}