
.logo {

  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.6rem;
    color: #ffffff;

}

.navbar{

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.75rem;
    
}

/*.navbar > *:hover{ cursor: pointer; scale: 1.02;}*/

 .styled {
 
   
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    /* border: 1px solid red; */
    padding: 24px 64px;
}

.navbar-content{

    display: flex;
    align-items: center;
}

.navbar-content-links{

   display: none;
}


/* this part is a dedicated for a navigation mobile window */


.navigation-mobile{

    position:absolute;
    width:100vw;
    height: 100vh;
    background: #070917;
    inset: 0;
    color:white;
    text-align: center;
    z-index: 100;
}

.navigation-mobile-close{

    text-align: end;
    margin: 14.493vw 7.729vw 0 82.609vw;
    width:fit-content
}

.navigation-mobile-content{

    display: grid;
    justify-content: center;
    margin-top: 1.563rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2.25rem;
color: #FFFFFF;

}

.navigation-mobile-content > * {

  margin-bottom: 2rem;

}

.navigation-mobile-enroll{

    background: #DA722C;
    border-radius: 24px;
    padding: .75rem 2rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
color: #FFFFFF;
border: none;
}

@media screen and (min-width:768px) {

    
   .logo{

    font-size: 2.5rem;

   }

   .mobile-icon{ display: none;}

   .navbar-content-links{

    display: flex;
    gap:2.625rem;
    align-items: center;

   }

   .navbar-content-links >* {
   font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
color: #FFFFFF;

   
}

.enroll {

    background-color: #023047;
    border-radius: 24px;
    padding: .75rem 2rem;
    border:none
}

    
}



/*  */

@media  screen and (min-width :1024px){

   .enroll{

    padding: 16px 32px;
   }
}